@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  width: 1920px;
  margin: 0 auto;
}

header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 1920px;
  margin: 0 auto;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
  padding: 10px 0;
}
header .navbar {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar .logo {
  color: #c72092;
  font-size: 25px;
  cursor: pointer;
}
header .navbar span {
  text-decoration: underline;
  color: #6c14d0;
}
header .navbar .navlinks {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .navbar .navlinks li {
  list-style: none;
  margin: 10px;
}
header .navbar .navlinks li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
header .navbar .navlinks li a:hover {
  color: #6c14d0;
}
header .navbar .icons {
  display: flex;
  gap: 10px;
}
header .navbar .icons .fa-solid {
  color: black;
  cursor: pointer;
  transition: 0.2s;
}
header .navbar .icons .fa-solid:hover {
  color: #c72092;
}

.main-page {
  position: relative;
  height: 1080px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  background-image: url("/image/bg1.png");
  background-repeat: no-repeat;
}
.main-page .description {
  margin-left: 10%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.main-page .description h1 {
  font-size: 60px;
  background: linear-gradient(to right, #c72092, #6c14d0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
}
.main-page .description span {
  font-style: italic;
}
.main-page .description p {
  margin-top: 80px;
  color: black;
  text-align: justify;
  max-width: 650px;
}
.main-page .description-img {
  margin-right: 10%;
}

.social-link {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 20px;
}
.social-link a {
  color: black;
  font-size: 25px;
  transition: 0.3;
}
.social-link a:hover {
  color: #6c14d0;
}

.main-pgBtn {
  position: absolute;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  border-radius: 25px;
  top: 77%;
  width: 150px;
  height: 40px;
  background: linear-gradient(to right, #c72092, #6c14d0);
}
.main-pgBtn:hover .fa-angle-right {
  transform: translateX(5px);
}
.main-pgBtn h3 {
  color: white;
}
.main-pgBtn .fa-angle-right {
  color: white;
  transition: 0.3s;
}

.products .product-title {
  font-size: 70px;
  margin-top: 80px;
  color: #6c14d0;
  text-align: center;
}
.products .product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px 0;
  padding: 20px 10%;
}
.products .product-list .product-container {
  position: relative;
  display: flex;
  flex-basis: 22%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(108, 20, 208, 0.3), -5px -5px 10px rgba(108, 20, 208, 0.3);
  padding: 10px;
  transition: 0.3s;
}
.products .product-list .product-container:hover {
  transform: scale(1.1);
}
.products .product-list .product-container img {
  width: 50%;
  height: 30%;
  cursor: pointer;
}
.products .product-list .product-container .product-description {
  width: 80%;
  text-align: center;
}
.products .product-list .product-container .product-price {
  font-weight: 700;
}
.products .product-list .product-container .product-star {
  color: gold;
  cursor: pointer;
}
.products .product-list .product-container .product-button {
  padding: 7px 15px;
  color: white;
  background: linear-gradient(to right, #c72092, #6c14d0);
  border: transparent;
  cursor: pointer;
}
.products .product-list .product-container .side-button {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 10%;
  top: 10%;
  gap: 5px;
}
.products .product-list .product-container .side-button .fa-heart,
.products .product-list .product-container .side-button .fa-share {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */